* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background-image: url(Space-Nebula.jpg);
}
/* Start of header code */
header {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #003b6f;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    background-color: black;
}


header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* End of header code */
img {
    border-radius: 50%;
    width: 200px;
    height: 300px;
}

.section-head {
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    padding: 13px;
    width: 40%;
    background-color: black;
    border-radius: 100px 0px 0px 100px;
}

p {
    background-color: black;
    padding: 12px;
    border-radius: 0px 100px 100px 0px;
}

.about-me {
    display: inline-flex;
    padding: 20px;
    font-weight: bolder;
    color: #003b6f;
    align-items: flex-end;
}

figcaption {
    background-color: black;
    padding: 12px;
    margin-top: 0%;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    width: 95%;
}

.contact-section {
    color: #003b6f;
    background-color: black;
    padding: 10px;
    width: 350px;
}

h3,
h4 {
    font-size: x-large;
}

a {
    color: purple;
    text-decoration: none;
    font-size: larger;
}
